.client {
  padding-top: 0;
}

.client__regular {
  padding-top: 60px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color-black;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.client__item {
  @media screen and (min-width: 320px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.client__list {
  @media screen and (min-width: 320px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.client__link {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: border-color;

  &:hover {
    border-color: $main-color-blue;
  }
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
}

.client__link:hover .client__icon {
  fill: $main-fill-blue;
}

.client__link:focus .client__icon {
  fill: $main-fill-blue;
}
