.feature {
  padding-bottom: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.feature__list {
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.feature__link {
  width: 70px;
  height: 70px;
}

.feature__container {
  background-color: #f5f4fa;
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    padding: 25px 190px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    padding: 25px 142px;
  }

  @media screen and (min-width: 1200px) {
    padding: 25px 100px;
  }
}

.feature__title {
  margin-bottom: 10px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-color-black;
}
.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-color-grey;
}
