.feature {
  display: flex;
  padding-bottom: 0;
}
.feature__link {
  width: 70px;
  height: 70px;
}

.feature__container {
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.feature.container {
  margin-top: 94px;
  margin-bottom: 94px;
}

.feature__list:not(:last-child) {
  margin-right: 30px;
}
.feature__list {
  width: 270px;
}
.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-color-black;
}
.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-color-grey;
}
