.our-team {
  background: #f5f4fa;
}
.our-team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color-black;
}
img {
  display: block;
}
.our-team__img {
  display: flex;
}
.our-team__residents {
  width: 270px;
  background: $main-color-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__residents:not(:last-child) {
  margin-right: 30px;
}
.our-team__names {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color-black;
}
.our-team__wrapper {
  padding: 30px 0;
}
.our-team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color-grey;
}
